[submodule "vendor/SFML"]
	path = vendor/SFML
	url = https://github.com/SFML/SFML.git
[submodule "vendor/clip"]
	path = vendor/clip
	url = https://github.com/dacap/clip.git
[submodule "vendor/cpp-subprocess"]
	path = vendor/cpp-subprocess
	url = git@github.com:santaclose/cpp-subprocess.git
